body {
    font-family: Arial;
    background: linear-gradient(135deg, #667eea, #764ba2);
    text-align: center;
    margin-top: 80px;
}

.container {
    background: white;
    padding: 20px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
}

select, button {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    background: #667eea;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

h3{
    color: brown;
}